<?xml version="1.0" encoding="utf-8"?>
<!--package="org.golang.todo.gophers"-->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.hexasoftware.gophers"
	android:versionCode="1"
	android:versionName="1.0">
		
	<application android:label="Gophers" 
			android:debuggable="true"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
	<activity android:name="org.golang.app.GoNativeActivity"
		android:label="Gorge Gophers"
		android:screenOrientation="landscape">
		<meta-data android:name="android.app.lib_name" android:value="gophers" />
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
		</intent-filter>
	</activity>
	</application>
</manifest>
